<div class="card" [ngStyle]="{'background-image': 'url(' + candidate.image + ')'}" (click)="viewProfile(candidate)">
  <div class="legend">
    <h3 class="title">
      <span>{{ candidate.first_name }}</span>
      <small *ngIf="candidate.age">{{ candidate.age }}</small>
    </h3>
    <div class="political-trend" *ngIf="candidate.political_trend">
      <i [ngClass]="['mini-badge', candidate.political_trend.toLocaleLowerCase()]"></i>
      <span>{{ candidate.political_trend }}</span>
    </div>
    <p>

    </p>
  </div>
</div>
