// #5655E6 Blue
// #4d0db1 Moradi Blue
// #F9FAFB light-gray
// #191D2C Black
// #00be00 green
// https://encycolorpedia.id/4d0db1
$palette: (
  primary: (
    50 : #eae2f6,
    100 : #cab6e8,
    200 : #a686d8,
    300 : #8256c8,
    400 : #6831bd,
    500 : #4d0db1, // base
    600 : #460baa,
    700 : #3d09a1,
    800 : #340798,
    900 : #250388,
  ),
  accent: (
    50 : #e0f7e0,
    100 : #b3ecb3,
    200 : #80df80,
    300 : #4dd24d,
    400 : #26c826,
    500 : #00be00, // base
    600 : #00b800,
    700 : #00af00,
    800 : #00a700,
    900 : #009900,
  )
);

$light-gray: #F9FAFB;
$color-black: #191D2C;

body {
  $color-black: #191D2C;
}

.color-primary {
  color: color(primary, 500);
}

@function color($color,$tone){
  @warn map-get($palettes,$color);
  @if map-has-key($palettes,$color){
      $color: map-get($palettes,$color);
          @if map-has-key($color,$tone){
              $tone: map-get($color,$tone);
              @return $tone;
          }
          @warn "unknown tone `#{$tone}` in color";
          @return null;
  }
  @warn "unknown color `#{$color}` in palette";
  @return null;
}
