<section class="centered page-content">
  <h1>¿Por qué?</h1>
  <p>
    Hola ecuatorianos, en los próximos meses tendremos la oportunidad/privilegio/mala-suerte de
    enfrentarnos otra vez a una papeleta de votación, en este caso ahogados en una crisis sin precedentes,
    desde mi ingenuidad y/o/u esperanza creo que si votamos bien podremos enfrentar la adeversidad
    que se avecina de la mejor manera, es hora de votar informados, basta de votar por el que te regala la
    camiseta, el que tiene ojos bonitos o es un crack para el baile.
  </p>
  <p>
    Busco que esta sea una herramienta que tenga la información mas importante que te permita conocer al
    candidato/partido y así elegir la mejor opción, intentaré que te puedas informar en menos de 3 minutos de
    cada aspirante y así sacar tus propias conclusiones. No busco inducir, busco encontrar las razones...
  </p>
  <p>
    Adoro a mis viejos, a mi abuela, mis primos, mis amigos como cualquier ecuatoriano; y busco que tengan
    el mejor Ecuador posible, si votamos bien será mas fácil alcanzarlo.
  </p>
  <hr/>
  <h3>Información Relevante</h3>
  <p>
    No estoy compinchado con ningún político/partido político, busco crear una herramienta para informar.
  </p>
  <p>
    No quiero hacer campaña a ningún partido.
  </p>
  <p>
    Si perteneces a un partido, eres simpatizante o crees que hay información que no es verídica <a href="https://twitter.com/juanjosenunca" target="_blank">contáctame</a>.
  </p>
  <p>
    Acepto sugerencias para incluir en el portal, la idea es tener una wiki de información siempre disponible.
  </p>
</section>
